.app-item{
    &__wrapper{
        margin-bottom: 16px;
        background-color: $color-gray--medium;
        padding: 6px;
        border-radius: 8px;
        &--standalone{
            margin-top: 16px;
        }
    }
    &__icon{
        height: 50px;
        width: 50px;
        border-radius: 6px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        &-img{
            &--web{
                height: 50px;
                width: 50px;
            }
            &--mobile{
                height: 30px;
                width: 30px;
            }
            &--game{
                height: 30px;
                width: 30px;
                padding-bottom: 6px;
            }
        }
    }
    &__headline{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 6px;
        border-bottom: 1px solid gray;
        margin-bottom: 6px;
        &-text{
            display: flex;
            flex-direction: row;
        }
    }
    &__title{
        flex-grow: 1;
        margin-left: 10px;
        font-size: 20px;
        font-weight: 600;
        max-width: 330px;
        line-break: anywhere;
        @media (max-width: 500px){
            max-width: 180px;
        }
    }
    &__action{
        height: 50px;
        display: flex;
        flex-direction: column;
    }
    &__content{
        border-bottom: 1px solid gray;
        margin-bottom: 6px;
    }
    &__credential-wrapper{
        margin-bottom: 6px;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 6px;
        &:hover{
            background-color: #bbb;
        }
    }
    &__credential-name{
        flex-grow: 1;
        line-break: anywhere;
    }
    &__footer{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
}