.app-item{
    &__wrapper{
        margin-bottom: 16px;
        background-color: $color-gray--medium;
        padding: 6px;
        border-radius: 8px;
        &--standalone{
            margin-top: 16px;
        }
    }
    &__icon{
        height: 50px;
        width: 50px;
        border-radius: 6px;
        background-color: white;
        img{
            height: 50px;
            width: 50px;
        }
    }
    &__headline{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: 6px;
        border-bottom: 1px solid gray;
        margin-bottom: 6px;
    }
    &__title{
        flex-grow: 1;
        margin-left: 10px;
        font-size: 20px;
        font-weight: 600;
    }
    &__action{
        height: 50px;
        display: flex;
        flex-direction: column;
    }
    &__content{
        border-bottom: 1px solid gray;
        margin-bottom: 6px;
    }
    &__credential-wrapper{
        margin-bottom: 6px;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 6px;
        &:hover{
            background-color: #bbb;
        }
    }
    &__credential-name{
        flex-grow: 1;
    }
    &__footer{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
}