$color-background-dark: #202124;
$color-background-light: #e7e7e7;
$color-gray--medium: #ccc;
$color-text: whitesmoke;
$color-green: #4caf50; // Haxor.no
$color-green--disable: #9dbb9e;
$color-red: #ea5252;
$color-blue: #51a7ff;

$color-disabled-bg: #BDBDBD;
$color-disabled-text: #757575;