{% extends "layouts/login.html" %}
{% load static %}
{% block content %}
<main class="login-section__main-wrapper">
    <img class="login-section__background" 
        src="{% static 'images/backgrounds/leaf-1482948_1920.webp' %}" 
        alt="clovers">
    <div class="login-section__wrapper">
        <div class="login-form__wrapper">
            <img class="login-section__logo" 
                src="{% static 'icons/haxor-logo-only-black.svg' %}" 
                alt="logo">
            <h1>Vault</h1>
                {% if status_type == "success" %}
                    <div class="login-form__text">
                        <p>{{status_message}}</p>
                    </div>
                    <a href="/login" class="button">Login</a>
                {% else %}
                    <div class="login-form__text">
                        <p>{{status_message}}</p>
                    </div>
                    <a href="/register" class="button">Register</a>
                {% endif %}
        </div>
    </div>
    <div class="login-section__bg-credits">
        <span>Image by Jeon Sang-O from Pixabay</span>
    </div>
</main>
{% endblock content %}