{% load static %}
<header data-header class="active">
    <div class="header__wrapper">
        <a href="{% url 'dashboard' %}" class="header__title" aria-label="Go to frontpage">
            <img class="header__title--icon" 
                src="{% static 'icons/haxor-logo-only-white.svg' %}" 
                alt="haxor.no rocket logo">
            <img class="header__title--iconText" 
                src="{% static 'icons/haxor_no-white.svg' %}" 
                alt="haxor.no glitch text">
        </a>
    </div>
</header>